.App {
  box-sizing: border-box;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-top: 20px;
}

.filterableProductTable{
  text-align: left;
  
}

.seachBar{
  margin-bottom: 20px;
}

.productTable-header{
  display: flex;
  font-weight: bold;
}

.productTable-header-cell{
  width: 100px;
}

.productCategoryRow-row{
  font-weight: bold;
}

.productRow{
  display: flex;
}

.productRow-cell{
  width: 100px;
}

.noStocked{
  color: red;
}

.inStocked{
  display: none;
}